name: Build All Repo Apps

on:
  push:
    branches:
      - main

jobs:
  buildBOOKAPP:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Build artiqui
        run: |
          cd ALLREPOBOOKPRIEST/artiqui
          npm install
          npm run build

      - name: Build book_priest
        run: |
          cd ALLREPOBOOKPRIEST/book_priest
          npm install
          npm run build
